{% extends 'base.html.twig' %}

{% block title %}Bienvenue "Truc"{% endblock %}

{% block body %}

    <h1>Bienvenue {{ app.user.email }} </h1>

    <a href="{{ path('app_trainee') }}">Liste des stagiaires</a>
    <br>
    <a href="{{ path('app_trainer') }}">Liste des formateurs</a>
    <br>
    <a href="{{ path('app_training') }}">Liste des formations (et sessions)</a>
    <br>

    <br><br><br>
    
    <p>Sessions à venir</p>
    <p>Sessions en cours</p>
    <p>Sessions passées</p>


{% endblock %}