{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}


        <h1>Liste des formateurs</h1>
        <a href="{{ path('app_home') }}">Retour</a>

        <br><br>

        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}

            {% for trainer in trainers %}
                <a href="{{ path('app_trainerDetail', {'id': trainer.id}) }}">{{ trainer }}</a>
                <br>
            {% endfor %}

        {% else %}

            <p>Vous n'avez pas l'autorisation de voir ces infos</p>

        {% endif %}




        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% if app.user %}
            <a href="{{ path('app_addTrainer') }}">Ajouter un formateur</a>
        {% endif %}


{% endblock %}
