body {
    width: 65%;
    margin: 0 auto !important;

}

.inline {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0em;
}
ul li {
    padding-inline-start: 0em;
}


.underline {
    text-decoration: underline;
}


.readonly {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.alertFlash {
    position: fixed;
    bottom: 45px;
    right: 10px;
    max-width: 300px;
    /* font-size: 0.60em; */
    border-radius: 5px;
    padding: 10px 20px;

    opacity: 0;
    animation: fadeInFlash 0.7s 0.1s forwards ease, fadeOutFlash 0.8s 2.5s forwards ease;
}
@keyframes fadeInFlash {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }
    to {
        transform: translateY(-0px);
        opacity: 1;
    }
}
@keyframes fadeOutFlash {
    from {
        transform: translateY(-0px);
        opacity: 1;
    }
    to {
        transform: translateY(60px);
        opacity: 0;
    }
}

.errorFlash {
    background-color: #ad0d0d;
    color: white;
}
.successFlash {
    background-color: #0dad55;
    color: rgb(255, 255, 255);
}


.sessionModulesDiv {
    display: inline-flex;
    flex-direction: column;
}

.sessionModule {
    text-decoration: none;
    color: black;
    padding: 5px 8px;
    margin: 5px 0px;
    border-radius: 5px;

    border-left: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);

    /* // Pour aligner la trashcan à droite du bouton */
    display: inline-flex;
    justify-content: space-between;

    cursor: pointer;
    transition: all 0.5s;
}
.fa-trash-can {
    /* color: #ad0d0d; */
    padding: 0 5px;
    transition: all 0.5s;
}
.red {
    color: #ad0d0d;
}
.deleteBin {
    margin-left: 15px;
}

.sessionModule:hover {
    background-color: #ad0d0d;
    color: white;
}
.sessionModule:hover .fa-trash-can {
    color: white;
}


.fa-centered {
    position: relative;
    left: 14px;
}
.fa-red {
    color: #ad0d0d;
}
.fa-green {
    color: #0dad55;
}



.open {
    color: #0dad55;
}
.midOpen {
    color: #ad550d;
}
.full {
    color: #ad0d0d;
}

.fa-right-to-bracket {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;

    transition: all 0.5s;
}
.fa-right-to-bracket:hover {
    background-color: #0dad55;
    color: white !important;
}

.fa-magnifying-glass {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;

    transition: all 0.5s;
}
.fa-magnifying-glass:hover {
    background-color: #0d6efd;
    color: white !important;
}


.fa-right-from-bracket {
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;

    transition: all 0.5s;
}
.fa-right-from-bracket:hover {
    background-color: #ad0d0d;
    color: white !important;
}


.deleteButton {
    padding: 5px 9px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    color:#ad0d0d;

    transition: all 0.5s;
}
.editButton {
    padding: 5px 9px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;

    transition: all 0.5s;
}

.deleteButton:hover {
    background-color: #ad0d0d;
    color: white;
}

.editButton:hover {
    background-color: #0d6efd;
    color: white;
}

.emptyTableMsg {
    font-style: italic; 
    opacity: 0.7;
}

.homeTable {
    /* width: 100%; */
}

.homeTable tbody tr {
    cursor: pointer;
}

.unsubscribeTr {

}
.unsubscribeLink {
    /* width: 50%;
    display: block;
    height: 100%;
    padding: 5px;
    text-align: center; */
}

.biggerBtn {
    padding: 8px 25px;
    font-size: 1.3em;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.5s;
    position: relative;
    z-index: 999;
}

.tdopen {
    background-color: #0dad55;
    color: white;
    /* border-radius: 4px; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.5s;
}
.tdfull {
    background-color: #ad0d0d;
    color: white;
    /* border-radius: 4px; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.5s;
}
.tdmidOpen {
    background-color:#ad550d;
    color: white;
    /* border-radius: 4px; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.5s;
}
.statusText {
    color: white;
}

.display {
    background-color: rgb(95 158 160 / 12%);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 25px !important;
}
.display thead tr {
    background-color: rgb(95 158 160 / 40%);
} 
.display thead tr:first-child {
    border-radius: 7px;
}
.display thead tr:last-child {
    border-radius: 7px;
}

table.dataTable.display tbody tr {
    transform: translateX(0px);
    border-radius: 8px;
    transition: all 0.5s;
}
table.dataTable.display tbody tr:hover {
    position: relative;
    /* left: 20px; */
    border-radius: 8px;
    transform: translateX(8px);
}

table.dataTable.display tbody tr:hover .tdfull {
    background-color: rgba(173, 13, 13, 0.8);
}
table.dataTable.display tbody tr:hover .tdopen {
    background-color: rgba(13, 173, 85, 0.8);
}
table.dataTable.display tbody tr:hover .tdmidOpen {
    background-color: rgba(173, 85, 13, 0.8);
}

.clickableTr {
    cursor: pointer;
    transition: all 0.5s;
}
.clickableTr:hover {
    background-color: aquamarine;
}

#subscribersTable {
    width: 30%;
    /* margin: 0 auto; */
    margin: 0;
}

#trainerSessions {
    width: 80%;
    margin: 0;
}




.maxWidthEllipsis {
    max-width: 300px; 
    width: 300px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}


.homeSessionLine {
    display: inline-flex;
}
.homeSessionSection {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.spaceLeft {
    margin-left: 20px;
}

table {
    margin-bottom: 25px;
}

.listAddButton {
    text-decoration: none;
    color: #0dad55;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0dad55;

    transition: all 0.5s;
}
.listAddButton:hover {
    background-color: #0dad55;
    color: white;
}

.marginBottom {
    /* margin-bottom: 25px; */
}

.centered {
    text-align: center;
}
.right {
    text-align: right;
}
