body {
    width: 65%;
    margin: 0 auto !important;

}

.inline {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0em;
}
ul li {
    padding-inline-start: 0em;
}