body {
    width: 65%;
    margin: 0 auto !important;

}

.inline {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0em;
}
ul li {
    padding-inline-start: 0em;
}


.underline {
    text-decoration: underline;
}


.readonly {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.alertFlash {
    position: fixed;
    bottom: 45px;
    right: 10px;
    width: 300px;
    font-size: 0.60em;
    border-radius: 5px;
    padding: 10px 20px;

    opacity: 0;
    animation: fadeInFlash 0.8s 0.1s forwards ease, fadeOutFlash 0.8s 3s forwards ease;
}
@keyframes fadeInFlash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOutFlash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.errorFlash {
    background-color: #ad0d0d;
    color: white;
}
.successFlash {
    background-color: #0dad55;
    color: rgb(255, 255, 255);
}


.sessionModulesDiv {
    display: inline-flex;
    flex-direction: column;
}

.sessionModule {
    text-decoration: none;
    color: black;
    padding: 5px 8px;
    margin: 5px 0px;
    border-radius: 5px;

    border-left: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);

    /* // Pour aligner la trashcan à droite du bouton */
    display: inline-flex;
    justify-content: space-between;

    cursor: pointer;
    transition: all 0.5s;
}
.fa-trash-can {
    color: #ad0d0d;
    padding: 0 5px;
    transition: all 0.5s;
}
.deleteBin {
    margin-left: 15px;
}

.sessionModule:hover {
    background-color: #ad0d0d;
    color: white;
}
.sessionModule:hover .fa-trash-can {
    color: white;
}