{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}


{% block body %}

    <h1>Liste des stagiaires</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {% for trainee in trainees %}
            {{ trainee }}
            <br>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas l'autorisation de voir ces infos</p>
    {% endif %}

{% endblock %}
